@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Cart>

@using Uniwear.core.Extensions;
@using Uniwear.core.ViewModels;
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var order = Model.GetCunrrentOrder();
    var checkoutPage = Model.Root().ChildrenOfType("vendrCheckoutCheckoutPage").FirstOrDefault();
}
<div class="container" style="height:60vh; margin-top:80px;">

    @if (Model != null && order != null && order.OrderLines.Any())
    {
        <h3><strong>Your Cart</strong></h3>
        <br />
        using (Html.BeginUmbracoForm("UpdateCart", "CartSurface"))
        { 
            <div>
                <table class="table table-shopping">
                    <thead>
                        <tr>
                            <th style="width:150px !important">Product</th>
                            <th></th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in order.OrderLines.Select((orderLine, i) => new { OrderLine = orderLine, Index = i }))
                        {
                            try
                            {
                                var product = (Product)Umbraco.Content(item.OrderLine.ProductReference.As<Guid>());
                                var url = product.Url();
                                var image = product.ProductImage.GetCropUrl("catelog.display");
                                string name = product.Value<string>("productName")?.ToString() ?? "Uniwear product";
                                string brand = product.Value<string>("productBrand")?.ToString() ?? "Uniwear";
                                <tr>
                                    <td><img src="@image" alt="Alternate Text" style=" width:60%; height:60%; color:black; text-decoration:none" /></td>
                                    <td><a style="color:black; text-decoration:none; margin-top:3px" href="@url">@name - @brand</a></td>

                                    <td><p style="color:black; text-decoration:none; margin-top:3px">AU$ @(item.OrderLine.UnitPrice.Value.WithTax)</p></td>
                                    <td>
                                        <div class="input-group">
                                            @Html.Hidden($"orderLines[{item.Index}].Id", item.OrderLine.Id)
                                            @Html.TextBox($"orderLines[{item.Index}].quantity", (int)item.OrderLine.Quantity,
                                            new { @class = "form-control input-number quantity", type = "number", min = 0, style = " width:60px;" })
                                        </div>
                                    </td>

                                    <td>
                                        <p style="color:black; text-decoration:none; margin-top:3px">
                                            AU$ @(item.OrderLine.TotalPrice.Value.WithTax)
                                        </p>
                                    </td>
                                    <td>
                                        <a style="color:darkred; text-decoration:none; margin-top:3px" rel="tooltip" href="@Url.SurfaceAction("RemoveFromCart", "CartSurface", new { OrderLineId = item.OrderLine.Id })">Remove</a>
                                    </td>

                                </tr>
                            }
                            catch (Exception ex)
                            {
                                    
                            }
                        }
                        <tr>
                            <td colspan="2"> Total</td>
                            <td class="td-price">
                                AU$  @(order.SubtotalPrice.Value.WithTax)
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-dark" title="Refresh Cart">Refresh Cart</button>
                            </td>
                            <td>
                                <a href="@checkoutPage.Url()" class="btn btn-success" title="Complete">Checkout</a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        var emptyCartImage = Model.MainImage.GetCropUrl("catelog.display");
        <div class="img-container" style=" text-align:center">
            <img src="@emptyCartImage" alt="EmptyCart" />
            <h3>Cart is empty... for now.</h3>
            <p> <a href="@Model.Root().Url()">Return to shop</a></p>
        </div>
    }
</div>

