@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Home>();
    var navItems = homePage.Children.Where(x => x.IsVisible());
    IPublishedContent mapPage = homePage.Children.Where(x => x.Name == "Locate a store").FirstOrDefault();
}

<nav class="main__navcon">
    <div id="wrapper">
        <div class="logo__container"><a id="navbar__logo" href="@Model.Root().Url()"> UNIWEAR</a></div>
        <div class="navbar_Uni">
            <div id="flex_1">

            </div>
            <div class="navbar__container" id="flex_2">

                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">

                    @if (navItems != null && navItems.Any())
                    {
                        foreach (var item in navItems)
                        {
                            var itemChildren = item.Children.Where(x => x.IsVisible());
                            bool hasChildren = itemChildren != null && itemChildren.Any();

                            if (hasChildren)
                            {

                                <li class="navbar__item dropdown">
                                    <a href="@item.Url()" class="navbar__links">@item.Name</a>
                                    <div class="dropdown-content">
                                        @{
                                            var list = item.Value<IEnumerable<Category>>("containsCategory");

                                        }
                                        @if (list != null && list.Any())
                                        {
                                            foreach (var child in list)
                                            {
                                                string name = child.Value<string>("categoryName");
                                                <a class="dropdown_item" href="/">@name</a>
                                            }
                                        }

                                    </div>
                                </li>

                            }

                        }
                    }

                </ul>


            </div>
            <div id="flex_3">
                <ul class="navbar__menu_side">
                    <li class="navbar__item search-dropdown">
                        <a  class="navbar__links"  id="search-button" readonly><i class="fas fa-search"></i> </a>
                        <div class="dropdown-content-search" >
                            @Html.Partial("~/Views/Partials/search.cshtml")
                        </div>
                    </li>
                    <li class="navbar__item">
                        <a href="@mapPage.Url()" class="navbar__links" id="signup__btn" readonly>
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                    </li>
                    <li class="navbar__item ">
                        <a href="/cart" class="navbar__links" readonly><i class="fas fa-shopping-cart"></i> @Html.Action("CartCount", "CartSurface")</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    
</nav>


<script>
    $('#search-button').click(function () {
        $('.search-dropdown').toggleClass('active');
    });
</script>
